{% extends 'base.html.twig' %}

{% block title %}Bonjour maitre {{ nom }}!{% endblock %}

{% block body %}
    votre particularité principal est donc : {{ particularité }}
    
    <h1> WELCOME TO ZION ! </h1>
{% endblock %}
